<h1>Contact Us</h1>
<div class="container">
  <form class="" url="/contact-us" method="post" onsubmit="showAlert()">
    <input type="text" id="fname" name="f_name" placeholder="First Name" required=true>
    <input type="text" id="lname" name="l_name" placeholder="Last Name" required=true>
    <input type="email" id="lname" name="email" placeholder="Email" required=true>
    <input type="text" id="lname" name="phone" placeholder="Phone No." required=true>
    <textarea id="subject" name="query" placeholder="Write something.." style="height:200px" required=true></textarea>
    <input type="submit" value="Submit">
  </form>
</div>


<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Thanks for contact-us!!</p>
  </div>

</div>


<script type="text/javascript">

  function showAlert() {
    modal.style.display = "block";
  }
  var modal = document.getElementById("myModal");
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>
